<h1>Enter Sentence to Translate to L33tsp34k</h1>
<form action="/output" method="post">
  <label for="userSentence">Enter Sentence</label>
  <input type="text" name="userSentence">
  <button type="submit">Translate</button>
</form>
